<% if (family.length > 1) { %>
    <% for (var n = 0; n < family.length; n++) { %>
    <p id="rsvp-<%= family[n].first %>" class="rsvp-guest" data-first="<%= family[n].first %>" data-last="<%= family[n].last %>">
        <span class="col-xs-12 col-md-6"><%= family[n].display %></span>
        <select name="rsvp-option-<%= family[n].first %>" class="col-xs-12 col-md-6">
            <option value="none" <% if (typeof family[0].rsvp == 'undefined') { %> selected<% } %>>Please RSVP...</option>
            <option value="yes" <% if (typeof family[n].rsvp !== 'undefined' && family[n].rsvp === true) { %> selected<% } %>>Can't wait to celebrate!</option>
            <option value="no" <% if (typeof family[n].rsvp !== 'undefined' && family[n].rsvp === false) { %> selected<% } %>>Will be celebrating from afar</option>
        </select>
    </p>
    <% } %>
<% } else { %>
    <p id="rsvp-<%= family[0].first %>">
        <span><%= family[0].display %></span>
    </p>
    <p class="rsvp-guest" data-first="<%= family[0].first %>" data-last="<%= family[0].last %>">
        <label class="col-xs-12 col-md-11 col-md-offset-1 col-lg-9 col-lg-offset-2"><input type="radio" value="yes" name="rsvp-option-<%= family[0].first %>" <% if (typeof family[0].rsvp !== 'undefined' && family[0].rsvp === true) { %> checked<% } %>>Can't wait to celebrate!</label>
        <label class="col-xs-12 col-md-11 col-md-offset-1 col-lg-9 col-lg-offset-2"><input type="radio" value="no" name="rsvp-option-<%= family[0].first %>" <% if (typeof family[0].rsvp !== 'undefined' && family[0].rsvp === false) { %> checked<% } %>>Will be celebrating from afar.</label>
    </p>
<% } %>