<% if (family.length > 1) { %>
    <% for (var n = 0; n < family.length; n++) { %>
    <p id="rsvp-<%= family[n].first %>">
        <span><%= family[n].first %> </span><span><%= family[n].last %></span>
        <label style="float: right;"><input type="radio" value="no" name="rsvp-option-<%= family[n].first %>">No</label>
        <label style="float: right;"><input type="radio" value="yes" name="rsvp-option-<%= family[n].first %>">Yes</label>
    </p>
    <% } %>
<% } else { %>
    <p id="rsvp-<%= family[0].first %>">
        <span><%= family[0].first %> </span><span><%= family[0].last %></span>
    </p>
    <p class="col-xs-10 col-xs-offset-1">
        <label><input type="radio" value="yes" name="rsvp-option-<%= family[0].first %>">Yes, can't wait to celebrate!</label>
        <label><input type="radio" value="no" name="rsvp-option-<%= family[0].first %>">No, I'll be celebrating from afar.</label>
    </p>
<% } %>